.Header
  .Header__logo
    SNS
.Chat-side 
  .side-header
    .side-header__box
      .side-header__box__username
        Akihiro
      .side-header__box__menu
        No.2
  .groups
.Chat-main
  .form
    .new-message