.Header{
  height:30px;
  width:100%;
  background-color: $creat-group;
}

.Chat-main{             /*あとでルーム数によって伸びていくよう設定する*/
  height:660px;
  width: calc(100vw - 300px);
  position: relative;
  float:right;
  background-color: white;
  .form{
    height: 90px;
    width:100%;  
    padding: 20px 40px;
    box-sizing: border-box; /*あとでcalcで書き換え*/   /*何故親がrelative, 子がabsoluteならぴったり右下にいくのか*/
    position: absolute;
    bottom:0;
    background-color: gray;
    .new-message{
      height:50px;
      width:100%;
      padding:50px auto;
      background-color: white;
    }
  }
}

.Chat-side{
  float:left;
  .side-header{
    height:120px;
    width:300px;
    box-sizing: border-box;
    padding:0 20px;
    display: flex;
    align-items: center;
    background-color: $chat-side-top;
    .side-header__box{
      background-color: red;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height:24px;
      font-weight: bold;
      color:#FFFFFF;
      font-size:16px;
      .side-header__box__menu{
        background-color: purple;
      }
    }
  }
   .groups{         /*あとでルーム数によって伸びていくよう設定する*/
    height:540px;
    width:300px;
    box-sizing: border-box;
    padding:0 20px;
    background-color: $chat-side;
  }
}